## mako
<%!
  from datetime import date
  from django.urls import reverse
  from django.utils.translation import ugettext as _
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
%>
<%namespace name='static' file='static_content.html'/>
<!-- footer overrides for stanford theme go here -->
<div class="wrapper-footer" style="background-color: currentColor;">
  <!-- Footer -->
<footer class="page-footer font-small teal pt-4">

  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold" style="color: whitesmoke;">CONTACT US</h5>
        <p>Burapha University
          <br>
           169 Long Hat Bangsaen Road, Saen Suk Subdistrict,
           Mueang District, Chonburi Province 20131
          <br>
           Thailand
        </p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold" style="color: whitesmoke;">ABOUT</h5>
        <a href="www.buu.ac.th"></a>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Text -->
</footer>
<!-- Footer -->
</div>
