## mako
<%!
  from datetime import date
  from django.urls import reverse
  from django.utils.translation import ugettext as _
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
%>
<%namespace name='static' file='static_content.html'/>
<!-- footer overrides for stanford theme go here -->
<div class="wrapper-footer" style="background-color: currentColor;">
  <!-- Footer -->
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text" style="color: snow;">CONTENT US</h5>
          <p class="grey-text text-lighten-4" style="color: whitesmoke;">Burapha University 169 Long Hat Bangsaen Road, Saen Suk Subdistrict,
            Mueang District, Chonburi Province 20131 Thailand.</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container" style="color: snow;">
      © 2020 Copyright Text
      <a class="grey-text text-lighten-4 right" style="color: snow;" href="#!https://open.edx.org/">Open edx</a>
      </div>
    </div>
  </footer>
<!-- Footer -->
</div>
